*.bat
*.sh
*.db
*.exe
/*/
LICENSE.txt
CHANGELOG

!/src/
/src/minecraft/*
/src/minecraft/mekanism/api/
!/src/minecraft/mods/archtikz/
!/src/minecraft/mods/*
/src/minecraft/universalelectricity
/src/minecraft/universalelectricity/components
!/resources/
!/README
